@import "_config.scss";

header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .header {
    background: $transBlack;
    color: $white;
    display: block;
    height: 50px;
    position: relative;
    width: 100%;

    .logo {
      left: 15px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
    }

    nav,
    nav ul,
    nav ul li {
      margin: 0;
      padding: 0;
    }

    nav {
      position: absolute;
      right: 15px;
      top: 50%;
      @include translateY(-50%);

      ul li {
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;

        &.last {
          margin: 0;
        }
      }
    }
  }
}

.contact {
  .form-group input {
    border: none;
  }
}

footer {
  background: $black;
  color: $white;
  display: block;
  height: 50px;
  position: relative;
  width: 100%;

  .row {
    height: 100%;
    div {
      align-items: center;
      display: flex;
    }
  }
}

ul li, .row div a {
  margin-right: 20px;

  &.last {
    margin: 0;
  }
}

a {
  color: $white;
  font-size: 19px;
  line-height: normal;
}

@media only screen and (min-width: 1024px) {
  div.social-media {
    justify-content: flex-end;
  }
}
