@import "_config.scss";

header {
  background: $black;
  color: $white;
  display: block;
  height: 90px;
  position: relative;
  width: 100%;

  .logo {
    left: 15px;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    right: 15px;
    top: 50%;
    @include translateY(-50%);

    ul li {
      display: inline-block;
      list-style-type: none;
      margin-right: 20px;

      &.last {
        margin: 0;
      }

      a {
        color: $white;
        font-size: 19px;
        line-height: normal;
      }
    }
  }
}
