.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-group input {
    display: block;
    margin: 18px;
  }

  .form-group input[type='text'],
  .form-group input[type='email'],
  .form-group input[type='phone'] {
    border-bottom: 2px solid #ff1755;
    height: 60px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
