html, body, #container, .carousel {
  height:100%;
  margin: 0;
  width: 100%;
}

.image-slide {
  height: 100vh;
  width: 100vw;
  transition: background-image .6s cubic-bezier(0.5, 0.7, 0.7, 0.7);
}

.page-container, .contact {
  margin-top: 45px;

  .title {
    font-family: 'Righteous', cursive;
  }

  .about-text {
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
  }
}

.flex-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
    background: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  .form-container {
    background-color: #fbfbfb7d;
    border-radius: 15px;
    height: 100vh;
    margin-top: 10px;
    width: 60%;

    .form-group input {
      display: block;
      margin: 18px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .form-group input[type='text'],
    .form-group input[type='email'],
    .form-group input[type='phone'] {
      background-color: transparent;
      border-bottom: 2px solid #1b1a1a;
      font-size: 25px;
      height: 60px;
    }

    .form-group input[type='submit'] {
      background-color: #010000;
      border-radius: 30px;
      color: #fff;
      font-size: 22px;
      margin-top: 35px;
      padding: 12px;
      text-align: center;

      &:hover {
        background-color: #171717;
        color: #ff1755;
      }
    }

    ::placeholder, .form-group input[type='submit'] {
      font-family: 'Lobster', cursive;
    }

    ::placeholder {
      color: #1b1a1a5e;
    }
 }
}

.card {
  border: none;
  position: relative;

  img {
    min-height: 350px;
  }

  .card-body {
    bottom: 0;
    background-color: #fbfbfb7d;
    font-family: 'Righteous', cursive;
    position: absolute;
    width: 95%;
  }
}
